# Byte-compiled / optimized / DLL files
__pycache__/

# Results 
Results/
results/
elogs/
ologs/

# Egg info
multimodal_mazes.egg-info/

# HPC Files
HPC_job.pbs*

# GIFS
*.gif

.DS_Store
results/
results/
